/* SETUP */

body { background: #000; color: #bbb;}
body, th, td { font:13px/1.4em Arial; }

/* LINKS */

a {text-decoration: none; color: #FD5A1E;}
a:hover { text-decoration: underline; }
a img {border: none;}

p { text-align: justify;  }

pre {
	font-family: courier,fixed,swiss,sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FD5A1E;
}

blockquote { color: #FD5A1E; font-style:italic; }

/* RSS */
img.rss { width: 15px; vertical-align: bottom}

/* CONTAINER */
#container { width: 800px; margin-left: auto; margin-right: auto; }

/* HEADER */
#header { position:relative; height:6.5em; margin-bottom: 20px;}
#header h1 { margin:0; width:111px; height:41px; position:absolute; bottom:10px; left:25px; }

/* NAVIGATION */
#navigation { position:absolute; margin:0; bottom:0; right:0; white-space:nowrap; font-size: 18px; font-weight: bold;}
#navigation li { display:block; float:left; list-style-type:none; margin:0; padding:0; }
#navigation a { display:block; float:left; padding:0px 0px 0px 10px; }

/* LOGO */
#logo { position:absolute; margin:0; bottom:0; left:0;}
#logo h1 {left:75px; font-size: 50px; }
#logo h3 {margin:0; font-size: 16px; }
#logo img {left:0; margin:0; height: 6.5em;}

/* BILLBOARD */
#billboard { margin-top: 10px; margin-bottom: 20px; }
#billboard h1 { display: inline; font-size: 30px; text-transform: lowercase;}

/* CONTENT */

#content { float:left; width: 600px; padding-top: 0px; margin-top: 0px; padding-right: 20px;}

/* SIDEBAR */

#sidebar { float:left; width:180px; top: 0px; text-transform: lowercase; }
#sidebar h1 { margin-bottom: 0px; padding-bottom: 0px; }
#sidebar ul { padding: 0px; margin: 10px 0px 10px 5px; margin-bottom: 20px; }
#sidebar li { list-style: none; padding: 0px; margin: 0px 0px 2px 0px; font-size:16px ;}
#sidebar li a {}

/***************************************************************************************************
 * Weblog specific styles
 **************************************************************************************************/

.blogbillboard {
	color: #ccc;
}

.blogday {
	float: left;
	font-size: 35px;
	line-height: 38px;
	color: #FD5A1E;
	margin: 0;
	padding: 0;
}

.blogmonthyear {
	float: left;
	text-align: left;
	line-height: 14px;
	vertical-align: bottom;
	padding: 4px 10px 0px 2px;
	margin-right: 10px;
	border-right: 1px solid #555;
}

.blogmonth {
	font-size: 17px;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
}

.blogyear {
	font-size: 14px;
	line-height: 15px;
	margin: 0px;
	padding: 0px;
}

.blogtitle {
	font-size: 20px;
	line-height: 22px;
	padding: 0px;
	margin: 0px;
}

.blogcategory {
	line-height: 8px;
	
}

.blogcontent {
	margin-left: 95px;
	margin-bottom: 20px;
}

.blogauthor {
	font-style: italic;
}

/******************************************************************************
 * Terminal specific styles                                                   *
 ******************************************************************************/
.term {
	font-family: courier,fixed,swiss,sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: #FD5A1E;
}

.termReverse {
	color: #111111;
	background: #FD5A1E;
}

#termDiv { }

